.message-list-container {
  padding: 10px;
  padding-bottom: 70px;
}

.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid #eeeef1;
  position: fixed;
  right: 0;
  left: 350px;
  bottom: 0px;
}

.box-input {
  flex: 1;
  border: none;
  font-size: 14px;
  height: 40px;
  background: none;
  position: fixed;
  bottom: 0;
  /* border-radius: 1rem; */
}